{% extends "partials/base.html" %}

{% load static %}
{% block title %}
Services
{% endblock title %}
{% block content %}
<div class="flex items-center">
  <img src="{% static 'images/2.jpg' %}" class="lg:w-[100%]"
    style="filter: opacity(10%); top: 0; right: 0; z-index: -1; position: absolute;">
  <p class="lg:mt-[5rem] lg:px-[10rem]">
    <span class="text-yellow-600 font-bold lg:text-4xl">Our Aim, Goals and Aspirations.</span><br>
    <br><br><br>
    <span class="">
      At Tigers Education Consultancy Services, <br> our aim is to provide top-notch educational consultancy services to
      students and professionals from all over the world. <br> <br> We believe that education is the foundation of
      success and that every individual deserves access to quality education and career guidance. <br> Our goal is to
      help students and professionals achieve their academic and career aspirations by providing them with the necessary
      tools and resources to succeed. <br><br> Whether it is choosing the right course, selecting the best university,
      <br> or finding the perfect job, we are committed to supporting our clients every step of the way. <br><br> Our
      aspirations are to become a leading educational consultancy services provider in the world, <br> recognized for
      our excellence and commitment to our clients. <br><br> We strive to build strong relationships with our clients
      and to establish Tigers Education Consultancy Services as a trusted and reliable partner in their academic and
      professional journey. <br><br> With our team of experienced consultants, our extensive knowledge of the education
      industry, <br> and our passion for helping others succeed, <br> we are confident that we can make a positive
      difference in the lives of our clients.
    </span>
  </p><br>
</div>
{% endblock content %}