{% extends "partials/base.html" %}

{% load static %}
{% block title %}
Services
{% endblock title %}
{% block content %}
<div class="flex items-center p-10">
  <img src="{% static 'images/2.jpg' %}" class="lg:w-[100%]"
    style="filter: opacity(10%); top: 0; right: 0; z-index: -1; position: absolute;">
  <p class="lg:mt-[5rem] lg:px-[10rem]">
    <span class="text-yellow-600 font-bold lg:text-4xl">What We Do</span><br><br><br>
    <br>
    <span class="">
      Tigers Educational Consultancy is a firm that provides educational solutions to students, parents, and educational
      institutions. <br> We offer a wide range of services that cater to the needs of students at every level of
      education. <br> Our services include academic counseling, career guidance, college admission assistance, test
      preparation, and language training. <br><br><br>
      We also provide consultancy services to schools and colleges to help them enhance their educational programs,
      curriculum, and teaching methodologies. <br>
      At Tigers Educational Consultancy, we believe that every student deserves a quality education that prepares them
      for success in their future endeavors. <br>
      Our team of experienced consultants works closely with students and parents to understand their unique needs and
      goals and provides personalized solutions to help them achieve academic excellence. <br>
      We are committed to providing the highest quality educational services that help our clients realize their full
      potential and achieve their dreams. <br><br><br>
      At Tigers, our services ranges from general consultations on education and migration or travel (Japa), School
      applications and admissions, Student permits and Visa applications and guidance, Educational loan applications and
      <br> Proof of fund services, full and partial scholarship programs, all forms of formal writing (CV or Curriculum
      Vitea, Personal Statement, Statement of Purpose, Introduction Letters and other formal and official writings),
      <br> Business registration details. <br>
      If you never had a record of education after your high school or secondary school education, we can also be of
      help no matter how long the time frame. <br>
      We provide personalized counseling and support services to help students make informed decisions about their
      education and career goals. <br> We assist them in identifying their strengths, weaknesses, and interests, and
      guide them in selecting the best courses, universities, and career paths that align with their aspirations. <br>
      <br> We also provide comprehensive test preparation services for standardized tests such as SAT, GRE, GMAT, IELTS,
      and TOEFL, among others. <br>
      Our test preparation programs are designed to equip students with the skills and strategies needed to excel in
      their exams. <br> Moreover, we offer professional development services to individuals seeking to enhance their
      skills and advance their careers. Our services include resume writing, interview preparation, and career coaching,
      among others.
    </span>
  </p><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock content %}